*{
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 1200px) {
    .logo img{
        width: 100px;
    }
    
    header {
        display: flex;
        background-color: rgb(64, 146, 98);
        height: 80px;
    }
    
    .div1{
        display: flex;
        float: left;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        width: 85%
    }
    
    nav a {    
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    /* CONTENIDO */
    
    .contenido {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        
    }
    
    .contenido div{   
        width: 45%;
        height: 250px;
        margin: 0 auto;
    }
    
    .div2{
        background-color: rgb(235, 233, 233);
        border-bottom: 6px solid rgb(64, 146, 98);;
    }
    
    .div2 .div2_1{
        color: rgb(64, 146, 98);
        font-size: 20px;
        width: 150px;
        height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 4px solid rgb(64, 146, 98);;
        margin-left: 5px;
    }
    
    .contenido img {
        height: 250px;
    }
    
    .div2 p {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(64, 146, 98);
        text-align: center;
    }
    
    .divabajo{
        margin-top: 100px;
    }
    
    button{
        display: block;
        width: 150px;
        height: 50px;
        margin-top: 40px;
        border: 2px solid black;
        border-left: 6px solid black;
        font-size: 18px;
    }
     #boton1{   
        margin-left: 20px;
        float: left;
    }
    
     #boton2{   
        margin-right: 2%;
        float: right;
    }
    
    /* PIE */
    
    footer{
        margin-top: 1%;
        background-color: rgb(64, 146, 98);
        height: 120px;
        padding-right: 2%;
    }
    
     .pie {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    
    .pie img{
        width: 100px;
    }
    
    ul{
        list-style: none;
        color: white;
        text-decoration: underline;
    }
}






@media screen and (max-width: 1199px) {
    .logo img{
        width: 100px;
    }
    
    header {
        display: flex;
        background-color: rgb(64, 146, 98);
        height: 80px;
    }
    
    .div1{
        display: flex;
        float: left;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        width: 85%
    }
    
    nav a {    
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    /* CONTENIDO */
    
    .contenido {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        
    }
    
    .contenido div{   
        width: 45%;
        height: 250px;
        margin: 0 auto;
    }
    
    .div2{
        background-color: rgb(235, 233, 233);
        border-bottom: 6px solid rgb(64, 146, 98);;
    }
    
    .div2 .div2_1{
        color: rgb(64, 146, 98);
        font-size: 20px;
        width: 150px;
        height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 4px solid rgb(64, 146, 98);;
        margin-left: 5px;
    }
    
    .contenido img {
        width: 80%;
    }
    
    .div2 p {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(64, 146, 98);
        text-align: center;
    }
    
    .divabajo{
        margin-top: 100px;
    }
    
    button{
        display: block;
        width: 150px;
        height: 14%;
        margin-top: 5%;
        border: 2px solid black;
        border-left: 6px solid black;
        font-size: 18px;
    }
     #boton1{   
        margin-left: 20px;
        float: left;
    }
    
     #boton2{   
        margin-right: 2%;
        float: right;
    }
    
    /* PIE */
    
    footer{
        margin-top: 1%;
        background-color: rgb(64, 146, 98);
        height: 120px;
        padding-right: 2%;
    }
    
     .pie {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    
    .pie img{
        width: 100px;
    }
    
    ul{
        list-style: none;
        color: white;
        text-decoration: underline;
    }
}





@media screen and (max-width: 782px) {
    .logo img{
        width: 100px;
    }
    
    header {
        display: flex;
        background-color: rgb(64, 146, 98);
        height: 80px;
    }
    
    .div1{
        display: flex;
        float: left;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        width: 85%
    }
    
    nav a {    
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    /* CONTENIDO */
    
    .contenido {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        
    }
    
    .contenido div{   
        width: 45%;
        height: 250px;
        margin: 0 auto;
    }
    
    .div2{
        background-color: rgb(235, 233, 233);
        border-bottom: 6px solid rgb(64, 146, 98);;
    }
    
    .div2 .div2_1{
        color: rgb(64, 146, 98);
        font-size: 20px;
        width: 150px;
        height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 4px solid rgb(64, 146, 98);;
        margin-left: 5px;
    }
    
    .contenido img {
        width: 100%;
    }
    
    .div2 p {
        font-size: 1.1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(64, 146, 98);
        text-align: center;
    }
    
    .divabajo{
        margin-top: 100px;
    }
    
    button{
        display: block;
        width: 150px;
        height: 10%;
        margin-top: 2%;
        border: 2px solid black;
        border-left: 6px solid black;
        font-size: 18px;
    }
     #boton1{   
        margin-left: 20px;
        float: left;
    }
    
     #boton2{   
        margin-right: 2%;
        float: right;
    }
    
    /* PIE */
    
    footer{
        margin-top: 1%;
        background-color: rgb(64, 146, 98);
        height: 120px;
        padding-right: 2%;
    }
    
     .pie {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    
    .pie img{
        width: 100px;
    }
    
    ul{
        list-style: none;
        color: white;
        text-decoration: underline;
    }
}






@media screen and (max-width: 544px) {

    .logo img{
        width: 80px;
    }
    
    header {
        display: flex;
        background-color: rgb(64, 146, 98);
        height: 80px;
        width: 100%;
    }
    
    .div1{
        display: flex;
        float: left;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        width: 85%
    }
    
    nav a {    
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
    }
    
    /* CONTENIDO */
    
    .contenido {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    
    .contenido div{   
        width: 100%;
        height: 13rem;
    }
    
    .div2{
        background-color: rgb(235, 233, 233);
        border-bottom: 6px solid rgb(64, 146, 98);;
    }
    
    .div2 .div2_1{
        color: rgb(64, 146, 98);
        font-size: 1.3em;
        width: 20%;
        height: 10%;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 4px solid rgb(64, 146, 98);;
        margin-left: 5px;
    }
    .img2 {
        display: flex;
        justify-content: center;
        
    }
    .contenido img {
        width: 60%;
        
    }
    
    .div2 p {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(64, 146, 98);
        text-align: center;
    }   
    
    button{
        display: inline;
        width: 25%;
        height: 14%;
        margin-top: 5%;
        border: 2px solid black;
        border-left: 6px solid black;
        font-size: 18px;
    }
     #boton1{   
        margin-left: 20px;
        float: left;
    }
    
     #boton2{   
        margin-right: 2%;
        float: right;
    }

    .d1{
        order: 1;
    }
    .i1{
        order: 2;
    }
    .d2{
        order: 3;
    }
    .i2{
        order: 4;
    }
    
    /* PIE */
    
    footer{
        background-color: rgb(64, 146, 98);
        height: 120px;
    }
    
     .pie {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    
    .pie img{
        width: 100px;
    }
    
    ul{
        list-style: none;
        color: white;
        text-decoration: underline;
    }
}






@media screen and (max-width: 425px) {
    .logo img{
        width: 70px;
    }
    
    header {
        display: flex;
        background-color: rgb(64, 146, 98);
        height: 80px;
        width: 100%;
    }
    
    .div1{
        display: flex;
        float: left;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        width: 85%;
        align-items: center;
    }
    
    nav a {    
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.7em;
    }
    
    /* CONTENIDO */
    
    .contenido {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    
    .contenido div{   
        width: 100%;
        height: 13rem;
    }
    
    .div2{
        background-color: rgb(235, 233, 233);
        border-bottom: 6px solid rgb(64, 146, 98);;
    }
    
    .div2 .div2_1{
        color: rgb(64, 146, 98);
        font-size: 1.3em;
        width: 20%;
        height: 10%;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 4px solid rgb(64, 146, 98);;
        margin-left: 5px;
    }
    .img2 {
        margin: o auto;
    }
    .contenido img {
        width: 70%;
    }
    
    .div2 p {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(64, 146, 98);
        text-align: center;
    }   
    
    button{
        display: none;
        width: 25%;
        height: 10%;
        
        border: 2px solid black;
        border-left: 6px solid black;
        font-size: 18px;
    }
     #boton1{   
        margin-left: 20px;
        float: left;
    }
    
     #boton2{   
        margin-right: 2%;
        float: right;
    }

    .d1{
        order: 1;
    }
    .i1{
        order: 2;
    }
    .d2{
        order: 3;
    }
    .i2{
        order: 4;
    }
    
    /* PIE */
    
    footer{
        background-color: rgb(64, 146, 98);
        height: 120px;
    }
    
     .pie {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    
    .pie img{
        width: 100px;
    }
    
    ul{
        list-style: none;
        color: white;
        text-decoration: underline;
    }
}


